:root {
  --color-1: hsl(80, 32%, 50%);
  --color-2: hsl(80, 32%, 12.5%);
  --color-3: hsl(80, 32%, 100%);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background: var(--color-1);
}

#title {
  text-align: center;
}

#form-container {
  background: var(--color-3)
  color: var(--color-1);
}

.flex-row {
  display: flex;
}

.flex-col-half {
  flex: 1 1 50%;
  /* border: 1px solid red; */
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.width-full {
  width: 100%;
}
